.learnDao {
  display: flex;
}
.learnDaoLeft {
  margin-left: 30px;
  background-color: beige;
  box-sizing: border-box;
  height: 800px;
  flex: 9;
}
.learnDaoLeft h1 {
  text-align: center;
}
.learnBoxHead {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnBox {
  border: 1px solid #e3e3e3;
  margin: 10px;
  padding: 10px;
  border-left: 1px solid #4685ff;
  border-radius: 20px;
}
.boxTop {
  display: flex;
}
.boxMiddle {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #d9d9d9;
}
.middleP {
  height: 25px;
  width: 50px;
  background-color: #f0ecec;
  margin-top: 5px;
}
.boxMiddleP {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}

.footerLast {
  display: flex;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin: 10px;
}
.learnSpan {
  margin-left: 50px;
  font-size: 15px;
}
.learnSpan span {
  height: 25px;
  width: 60px;
  background-color: #f0ecec;
}

.learnDaoRight {
  flex: 3;
}
