.topbar {
  display: flex;
  padding: 20px;
  align-items: center;
}
.logoImage {
  width: 50px;
}
.LogoPart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LogoPart h1 {
  font-size: 35px;
  color: #ffffff;
}
.span {
  background-color: #ffffff !important;
  color: blue;
}

.wallet {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  background-color: #4cb8ff;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.wallet > p {
  margin-top: 10px;
  margin-bottom: 1rem;
}

/* adding extra input */
.box {
  width: 850px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 35px;
  /* margin: 15px; */
}

.box > i {
  font-size: 20px;

  color: #777;
}

.box > input {
  flex: 1;

  height: 40px;

  border: none;

  outline: none;

  font-size: 18px;

  padding-left: 10px;
}
