.daoRight {
  margin-left: 15px;
  font-size: 20px;
}
.topSection {
  /* display: flex; */
  background-color: #fdfafa;
  margin-bottom: 10px;
}
.topInfoSection {
  display: flex;
  border: 2px solid #e3e3e3;
  border-radius: 15px;
  padding: 3px;
}
.topInfoSection img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.infoSection p {
  font-size: 15px;
}

/* middle part */

.middleSection {
  background-color: #fdfafa;
  margin-bottom: 10px;
}
.middleInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleLeft {
  margin-left: 20px;
}
.middleLeftImg {
  width: 50px;
  height: 50px;
}

/* bottom part */
.bottomTop {
  font-size: 10px;
  background-color: #fdfafa;
  margin-bottom: 10px;
}
.bottomInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomInfoContainer img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
}
/* .infoBottom h3,
p {
  font-size: 10px;
} */
.infoBottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
