.peopleNav {
  display: flex;
}
.middleLeftTop {
  display: flex;
}
.middleTopSocial {
  display: flex;
}
.peopleInfoBottom {
  display: flex;
}
.leftTop {
  display: flex;
}
.leftMiddle {
  display: flex;
}
