.leaderBoard {
  display: flex;
  font-size: 20px;
  box-sizing: border-box;
}
.leaderBoardLeft {
  background-color: #ffffff;
  margin-left: 25px;
  padding: 20px;
}
.dynamic {
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.dynamic img {
  border-radius: 50%;
}
.dynamicElement {
  margin-right: 10px;
  /* background-color: blue; */
}
.dynamicElement i {
  /* margin-right: 10px; */

  color: white;
  border: 3px;
  /* margin: 10px; */
}
.glob {
  height: 40px;
  width: 40px;
  background-color: #4cb8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderBoardRight {
  margin-left: 45px;
}
.leaderBoardNew {
  background-color: #ffffff;
  padding: 15px;
}

.leaderBoardResources {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 15px;
}
.leaderBoard h1 {
  text-align: center;
}
.img {
  width: 50px;
  height: 50px;
}
.dynamic {
  display: flex;
  justify-content: space-between;
}
.leaderBoardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.leaderBoardButton > button {
  border-radius: 15px;
  padding: 5px;
}
