.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item {
  display: flex;
}
.resourceLogo {
  margin-left: 30px;
  padding: 15px;
}

.resourceButton {
  background-color: #d4eeff;
}
/* #D4EEFF */
